<div class = "d-flex justify-content-around align-items-center pt-3">
    <%= gravatar_for @user %>
    <div class = "fs-3 fw-bold"><%= @user.name %></div>
    
    AIからの一言
</div>
<div class = "d-flex justify-content-around pt-5">
    <div class = "card col-3">
        <h5 class = "card-header">トータルスコア</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class = "fs-6">完了したタスク</div>
                <div class = "text-center"><%= @done_task_all %> コ</div>
            </li>
            <li class="list-group-item">
                <div class = "fs-6">サボりpt</div>
                <div class = "text-center"><%= @lazy_score_all %> pt</div>
            </li>
        </ul>
    </div>
    <div class = "card col-3">
        <h5 class = "card-header">今週のスコア</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class = "fs-6">完了したタスク</div>
                <div class = "text-center"><%= @done_task_week %> コ</div>
            </li>
            <li class="list-group-item">
                <div class = "fs-6">サボりpt</div>
                <div class = "text-center"><%= @lazy_score_week %> pt</div>
            </li>
        </ul>
    </div>
</div>
<% @tasks_all.each do |task| %>
  <div class="task">
    <p>タスク名: <%= task.title %></p>
    <p>開始予定: <%= task.planned_start_at %></p>
    <p>終了予定: <%= task.planned_finish_at %></p>
  </div>
<% end %>


