<nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid ">
        <%= link_to root_path, class: "navbar-brand ms-3 me-auto" do %>
            <%= image_tag "Saboly_logo.png", height: '40', alt: 'Saboly' %>
        <% end %>
        <ul class="navbar-nav d-flex flex-row ms-auto align-items-center">
            <% if user_signed_in? %>
                <li class = "nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white me-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        メニュー
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end position-absolute">
                        <li><%= link_to "プロフィール", user_path(current_user), class: "dropdown-item"%></li>
                        <li><%= link_to "新規タスク", new_task_path, class: "dropdown-item"%></li>
                        <li><%= link_to "個人成績", daily_reports_path, class: "dropdown-item"%></li>
                        <li><%= link_to "ランキング", ranking_path(current_user), class: "dropdown-item"%></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item"%></li>
                    </ul>
                </li>
            <% else %>
                <%= link_to "サインアップ", new_user_registration_path, class: "nav-link text-white active me-5"%>
                <%= link_to "ログイン", new_user_session_path, class: "nav-link text-white active me-5"%>
            <% end %>
        </ul>
    </div>
</nav>